.user__button_edit-status {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  min-width: 50px;
  border: none;
  background-color: inherit;
  background-image: url('../../../../images/pencil.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 50%;
  transition: all .5s linear;
  cursor: pointer;
}

.user__button_edit-status:hover {
  opacity: .7;
}
