.user__status-text {
  font-style: italic;
  padding-left: 18px;
  width: 90%;
  overflow-x: scroll;
  resize: none;
}

.user__status-text:disabled {
  border: none;
  background-color: inherit;
}

.user__status-text::-webkit-scrollbar {
  width: 1px;
}
