@import url('./__container/popup__container.css');
@import url('./__title/popup__title.css');
@import url('./__button/_close/popup__button_close.css');
@import url('./__input-label/popup__input-label.css');
@import url('./__input/popup__input.css');
@import url('./__button/_submit/popup__button_submit.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
}
